
DB_PASSWORD=change-this-to-something-real
DOMAIN=yourdomain.com


SOURCE_REF=./data/orders-with-dates.xlsx
MONTHLY_SOURCE_REF=./data/quarter-sales.xls

GOOGLE_SERVICE_ACCOUNT_EMAIL=xxxx@xxxx.iam.gserviceaccount.com

GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

CATALOG_SHEET_ID=sheet_id
CATALOG_SHEET_GID=sheet_gid
